.form-control {
  border: 1px solid #dee2e6;
  padding: 12px;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
}

.form-control:focus {
  border-color: #03153f;
  box-shadow: 0 0 0 0.25rem rgba(111, 78, 55, 0.15);
}
