body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top right, #326a92, transparent),
    radial-gradient(circle at bottom left, #662c6e, transparent), #ffffff;
  background-attachment: fixed;
}

/* animation */

.page-fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInMoveUp 3s ease-out forwards;
}

@keyframes fadeInMoveUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#navbar_main {
  /* background-color: #49281a66; */
  position: sticky;
  top: 0;
}

.btn {
  background: radial-gradient(circle at top right, #326a92, transparent),
    radial-gradient(circle at bottom left, #662c6e, transparent), #ffffff;
  background-attachment: fixed;
}
footer {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.social-icon {
  font-size: 2rem;
  color: #64748b;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icon:hover {
  transform: translateY(-3px);
  display: inline-block;
}

.bi-facebook:hover {
  color: #1877f2;
}
.bi-instagram:hover {
  color: pink;
}
.bi-linkedin:hover {
  color: #0a66c2;
}
