/* font changing  */
body,
#about-title,
#about-text {
  font-family: "Open Sans", sans-serif;
  color: white;
}

#navbar_main {
  background: radial-gradient(circle at top right, #326a92, transparent),
    radial-gradient(circle at bottom left, #662c6e, transparent), #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top right, #326a92, transparent),
    radial-gradient(circle at bottom left, #662c6e, transparent), #ffffff;
  background-attachment: fixed;
  color: white;
}

/* animation */

.page-fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInMoveUp 3s ease-out forwards;
}

@keyframes fadeInMoveUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn {
  background: radial-gradient(circle at top right, #326a92, transparent),
    radial-gradient(circle at bottom left, #662c6e, transparent), #ffffff;
  background-attachment: fixed;
}

footer {
  html,
  body {
    height: 100%;
    margin: 0;
  }

  .page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1; /* pushes footer to bottom */
  }

  .footer {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 1rem;
  }
}

.social-icon {
  font-size: 2rem;
  color: #e2e7ee;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-icon:hover {
  transform: translateY(-3px);
  display: inline-block;
}

.bi-facebook:hover {
  color: #1877f2;
}
.bi-instagram:hover {
  color: pink;
}
.bi-linkedin:hover {
  color: #0a66c2;
}
