/* font changing  */
body {
  font-family: "Open Sans", sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #390452;
}

.bg-login {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top right, #326a92, transparent),
    radial-gradient(circle at bottom left, #662c6e, transparent), #ffffff;
  background-attachment: fixed;
}

/* form border  */
.modern-border {
  border-style: double;

  border-width: 4px;

  border-color: #5f2b6f;

  padding: 30px;
  border-radius: 20px;
  background: radial-gradient(circle at top right, #326a92, transparent),
    radial-gradient(circle at bottom left, #662c6e, transparent), #ffffff;
}

.btn-login {
  background: radial-gradient(circle at top right, #326a92, transparent),
    radial-gradient(circle at bottom left, #662c6e, transparent), #ffffff;
}

h2 {
  font-weight: 900;
}

/* contact page form  */
.form-control {
  border: 1px solid #dee2e6;
  padding: 12px;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
}

.form-control:focus {
  border-color: #03153f;
  box-shadow: 0 0 0 0.25rem rgba(111, 78, 55, 0.15);
}
