/* font changing  */
body {
  font-family: "Open Sans", sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #390452;
}

.bg-login {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top right, #326a92, transparent),
    radial-gradient(circle at bottom left, #662c6e, transparent), #ffffff;
  background-attachment: fixed;
}

/* form border  */
.modern-border {
  border-style: double;

  border-width: 4px;

  border-color: #5f2b6f;

  padding: 30px;
  border-radius: 20px;
  background: radial-gradient(circle at top right, #326a92, transparent),
    radial-gradient(circle at bottom left, #662c6e, transparent), #ffffff;
}

.btn-login {
  background: radial-gradient(circle at top right, #326a92, transparent),
    radial-gradient(circle at bottom left, #662c6e, transparent), #ffffff;
}

.fw-exbold {
  font-weight: 900 !important;
}

/* Or apply it directly to your heading */
h2 {
  font-weight: 900;
}
